<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Edit Product</title>
	<link href="/css/css-admin/bootstrap.min.css" rel="stylesheet">
	<link href="/css/css-admin/font-awesome.min.css" rel="stylesheet">
	<link href="/css/css-admin/datepicker3.css" rel="stylesheet">
	<link href="/css/css-admin/styles.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>

    <%- include('../layout/headerAdmin') %>
    
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Edit Product</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Edit Product</h1>
			</div>
		</div><!--/.row-->

		<!-- FORM -->
		<div class="form-insert-product">
			<% const {nameProduct, price, discount, author, isbn, year, image, description} = product; %>
			<form action="/admin/editProduct" method="post" class="login-form" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control-insert" type="text" placeholder="Name Product" name="nameProduct" value="<%= nameProduct %>">
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="text" placeholder="Price" name="price" value="<%= price %>">
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="text" placeholder="Discount (%)" name="discount" value="<%= discount %>">
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="text" placeholder="Author" name="author" value="<%= author %>">
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="text" placeholder="ISBN" name="isbn" value="<%= isbn %>">
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="text" placeholder="Year" name="year" value="<%= year %>">
				</div>
                <div class="form-group">
                    <div class="wrap-input-file">
                        <input class="form-control-insert" type="file" placeholder="Image" name="image">
                    </div>
					<span><%= image %></span>
				</div>
                <div class="form-group">
					<textarea class="form-control-textarea" rows="10" placeholder="Description" name="description"><%= description %></textarea>
				</div>
	
				<div class="btn-insert-product">
					<button type="submit">Cập nhật</button>
				</div>
			</form>
		</div>
	</div>	<!--/.main-->
		
</body>
</html>