<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>INSERT PRODUCT</title>
	<link href="/css/css-admin/bootstrap.min.css" rel="stylesheet">
	<link href="/css/css-admin/font-awesome.min.css" rel="stylesheet">
	<link href="/css/css-admin/datepicker3.css" rel="stylesheet">
	<link href="/css/css-admin/styles.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>

    <%- include('../layout/headerAdmin') %>
    
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/">
					<em class="fa fa-home"></em>
				</a></li>
				<li>Insert Product</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Insert Product</h1>
			</div>
		</div><!--/.row-->

		<!-- Xử lý form trước khi submit -->
		<%
			let errNameProduct, errPrice, errDiscount, errAuthor, errIsbn, errYear, errDescription;

			if(typeof errors !== "undefined") {
				errNameProduct = errors.nameProduct;
				errPrice = errors.price;
				errDiscount = errors.discount;
				errAuthor = errors.author;
				errIsbn = errors.isbn;
				errYear = errors.year;
				errDescription = errors.description;
		} %>
		<!-- FORM -->
		<div class="form-insert-product">
			<form action="/admin/insertProduct" method="post" class="login-form" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control-insert" type="text" placeholder="Name Product" name="nameProduct">
					<span class="err-input"><%= errNameProduct %></span>
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="number" placeholder="Price" name="price">
					<span class="err-input"><%= errPrice %></span>
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="number" placeholder="Discount (%)" name="discount">
					<span class="err-input"><%= errDiscount %></span>
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="text" placeholder="Author" name="author">
					<span class="err-input"><%= errAuthor %></span>
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="number" placeholder="ISBN" name="isbn">
					<span class="err-input"><%= errIsbn %></span>
				</div>
				<div class="form-group">
					<input class="form-control-insert" type="number" placeholder="Year" name="year">
					<span class="err-input"><%= errYear %></span>
				</div>
                <div class="form-group">
                    <div class="wrap-input-file">
                        <input class="form-control-insert" type="file" placeholder="Image" name="image">
                    </div>
				</div>
                <div class="form-group">
					<textarea class="form-control-textarea" rows="10" placeholder="Description" name="description"></textarea>
					<span class="err-input"><%= errDescription %></span>
				</div>

				<div class="btn-insert-product">
					<button type="submit">Thêm sản phẩm</button>
				</div>
			</form>
		</div>
	</div>	<!--/.main-->
		
</body>
</html>