<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css-site/style.css">
    <link rel="stylesheet" href="/css/css-site/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CHANGE PASSWORD</title>
</head>
<body>
    
    <%- include('../layout/header') %>

     <!-- LOGIN -->
    <section class="login">
        <div class="bg-login"></div>
       <div class="box-login">
            <div class="title-login">
                <h3>Change password</h3>
            </div>

            <!-- Xử lý form trước khi submit -->
            <%
                let errOldPassword, errNewPassword, errConfirmNewPassword;

                if(typeof errors !== "undefined") {
                    errOldPassword = errors.oldPassword;
                    errNewPassword = errors.newPassword;
                    errConfirmNewPassword = errors.confirmNewPassword;
            } %>
            <div class="body-login">
                <form action="/account/change-password" method="post" class="login-form">
                    <div class="form-group">
                        <span class="icon"><i class="fa-sharp fa-solid fa-lock"></i></span>
                        <input class="form-control" type="password" placeholder="Old password" name="oldPassword">
                        <span class="err-input"><%= errOldPassword %></span>
                    </div>
                    <div class="form-group">
                        <span class="icon"><i class="fa-sharp fa-solid fa-lock"></i></span>
                        <input class="form-control" type="password" placeholder="New password" name="newPassword">
                        <span class="err-input"><%= errNewPassword %></span>
                    </div>
                    <div class="form-group">
                        <span class="icon"><i class="fa-sharp fa-solid fa-lock"></i></span>
                        <input class="form-control" type="password" placeholder="Confirm new password" name="confirmNewPassword">
                        <span class="err-input"><%= errConfirmNewPassword %></span>
                    </div>
                   
                    <div class="btn">
                        <button type="submit" class="btn-change-pass">Update</button>
                    </div>
                </form>
            </div>
       </div>
    </section>

    <%- include('../layout/footer') %>
</body>
</html>