<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css-site/style.css">
    <link rel="stylesheet" href="/css/css-site/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>RESET PASSWORD</title>
</head>
<body>
    
    <%- include('../layout/header') %>

     <!-- LOGIN -->
    <section class="login">
        <div class="bg-login"></div>
       <div class="box-login">
            <div class="title-login">
                <h3>Reset password</h3>
            </div>

            <div class="body-login">
                <form action="/account/reset-password" method="post" class="login-form">
                    <div class="form-group">
                        <span class="icon"><i class="fa-sharp fa-solid fa-check"></i></span>
                        <input class="form-control" type="number" required placeholder="Mã xác nhận đã được gửi vào email của bạn!" name="codeResetPassword">
                        <% if(typeof errCodeResetPassword !== 'undefined') { %>
                            <span class="err-input"><%= errCodeResetPassword %></span>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <span class="icon"><i class="fa-sharp fa-solid fa-lock"></i></span>
                        <input class="form-control" type="password" required placeholder="Nhập mật khẩu mới!" name="password">
                        <% if(typeof errPassword !== 'undefined') { %>
                            <span class="err-input"><%= errPassword %></span>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <span class="icon"><i class="fa-sharp fa-solid fa-lock"></i></span>
                        <input class="form-control" type="password" required placeholder="Xác nhận mật khẩu mới!" name="confirmPassword">
                        <% if(typeof errConfirmPassword !== 'undefined') { %>
                            <span class="err-input"><%= errConfirmPassword %></span>
                        <% } %>
                    </div>

                    <div class="btn">
                        <button type="submit" class="btn-forgot-pass">Lưu</button>
                    </div>
                </form>
            </div>
       </div>
    </section>

    <%- include('../layout/footer') %>
</body>
</html>