<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css-site/style.css">
    <link rel="stylesheet" href="/css/css-site/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>DETAIL</title>
</head>
<body>
    
    <%- include('../layout/header') %>
    <% const {_id, nameProduct, price, discount, author, isbn, year, image, description, reviewCount, averageScore} = product; %>

    <!-- DETAIL -->
    <section class="detail">
        <div class="box-detail">
            <div class="box-left-detail">
                <img src="/images/images-product/<%= image %>" alt="">
            </div>
            <div class="box-right-detail">
                <h3 class="name-book-detail"><%= nameProduct %></h3>
                <ul class="list-unstyle">
                    <li>Author: <span class="list-value"><%= author %></span></li>
                    <li>ISBN: <span class="list-value"><%= isbn %></span></li>
                </ul>
                <p class="price-book-detail">
                    <%= (price - price * (discount / 100)).toLocaleString('vn-VN') %> đ
                    <% if(discount > 0) { %>
                        <del><%= price.toLocaleString('vn-VN') %> đ</del>
                    <% } %>
                </p>
                <div class="rating-reviewed total-rating-detail">
                    <% for(let i = 1; i <= 5; i++) { 
                        if(averageScore >= i) { %>
                            <span class="icon-star star-on"></span>
                        <% } else { %>
                            <span class="icon-star"></span>
                        <% }
                     } %>
                </div>
                <p class="description-detail"><%= description %></p>
                <!-- <div class="add-to-cart">
                    <div class="count-input">
                        <span>Qty</span>
                        <input type="number" value="1">
                    </div>
                    <div class="add-cart-btn">
                        <a href="#">+ Add to Cart</a>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="review">
            <div class="show-review">
                <div class="title-show-review">
                    <% if(reviewCount > 0) { %>
                        <h2><%= nameProduct %> có <%= reviewCount %> đánh giá</h2>
                    <% } else { %>
                        <h2>Chưa có đánh giá nào!</h2>
                    <% } %>
                </div>
               <% for(const comment of comments) {
                    const {content, dateComment, rating} = comment;
                    const dateFormat = `${String(dateComment.getDate()).padStart(2, 0)}/${String(dateComment.getMonth() + 1).padStart(2, 0)}/${dateComment.getFullYear()}`
               %>
                    <div class="comment-show-review">
                        <div class="avatar">
                            <img src="/images/images-user/<%= comment.userId.image %>" alt="">
                        </div>
                        <div class="text">
                            <div class="rating-reviewed">
                                <% for(let i = 1; i <= 5; i++) { 
                                    if(rating >= i) { %>
                                        <span class="icon-star star-on"></span>
                                    <% } else { %>
                                        <span class="icon-star"></span>
                                    <% }
                                 } %>
                            </div>
                            <h6 class="author"><%= comment.userId.fullName %> - <span><%= dateFormat%></span></h6>

                            <p><%= content %></p>

                            <% if(user) {
                                if(comment.userId._id == user._id) { %>
                                    <a id="delete-comment" class="deteteComment" href="/products/detail/deleteComment/<%= comment._id %>">Xóa</a>
                               <% }
                            } %> 
                        </div>
                    </div>
               <% } %>
            </div>
            
            <% if(user) { %>
                <div class="title-rating"><h2>Thêm đánh giá</h2></div>
                <div class="rating">
                    <p>Xếp hạng</p>
                    <form action="/products/detail/<%= _id %>" class="form-rate" method="post">
                        <span class="rating-block">
                            <input type="radio" name="star" id="star1" value="5">
                            <label for="star1"></label>
                            <input type="radio" name="star" id="star2" value="4">
                            <label for="star2"></label>
                            <input type="radio" name="star" id="star3" value="3">
                            <label for="star3"></label>
                            <input type="radio" name="star" id="star4" value="2">
                            <label for="star4"></label>
                            <input type="radio" name="star" id="star5" value="1">
                            <label for="star5"></label>
                        </span>
                        <div class="form-group">
                            <label for="message">Bình luận</label>
                            <textarea name="content" id="message" cols="30" rows="10" class="form-control" required></textarea>
                        </div>

                        <% if(locals.message) { %>
                            <span><%= message %></span>

                        <% } %>

                        <% if(typeof message !== 'undefined') { %>
                            <span><%= message %></span>
                        <% } %>

                        <div class="submit-btn-rate">
                            <button type="submit">Đăng</button>
                        </div>
                    </form>
                </div>
            <% } else { %>
                <p class="login-to-review">Bạn phải <a href="/account/login">đăng nhập</a> hoặc <a href="/account/register">đăng ký</a> để bình luận về sản phẩm này!</p>
            <% } %>
        </div>
    </section>

    <%- include('../layout/footer.ejs') %>

    <script>
        const deleteComments = document.querySelectorAll('#delete-comment');
        deleteComments.forEach(deleteComment => {
            deleteComment.addEventListener('click', (e) => {
                if(!confirm('Bạn có chắc chắn muốn xóa bình luận này không!')){
                    e.preventDefault();
                }
            })
        })
    </script>
</body>
</html>